html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    background-color: #f4f4f4;
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

body .links {
    padding: 0;
    margin: 0;
    list-style: none;
}

body .links li {
    display: inline;
}

body .links li:not(:last-child):after {
    content: " - ";
}

h1 {
    font-size: 48px;
    font-weight: normal;
}

a {
    color: #7069af;
    text-decoration: none;
}

a:hover {
    color: #4a4573;
}
