body {
    padding: 20%;
    color: #333;
    background-color: #f4f4f4;
    font-family: Georgia, Times, 'Times New Roman', serif;
    line-height: 24px;
    text-align: center;
}

body .links {
    padding: 0;
    margin: 0;
    list-style: none;
}

body .links li {
    display: inline;
}

body .links li:not(:last-child):after {
    content: " - ";
}

h1 {
    font-size: 34pt;
    font-weight: normal;
}

a {
    color: #7069af;
    text-decoration: none;
}

a:hover {
    color: #4a4573;
}
